@model projeto_web.Models.Product;
@{
    ViewData["title"] = "Criando Produtos";
}

<h1>Cadastro de Produtos</h1>

<hr>
<form asp-action="store" class='rounded shadow p-3 p-lg-5 form-group' enctype="multipart/form-data">
    <input asp-for="Name" type="text" minlength="3" maxlength="40"required class="form-control"  placeholder="Nome do produto">
    <input asp-for="Quantity" type="number" minlength="3" maxlength="40"  required class="form-control my-2"  placeholder="Quantidade">
    <input asp-for="Value" step="0.01" type="text" minlength="3" maxlength="40" required class="form-control"  placeholder="Valor">
    <select asp-for="Category_id" asp-items="@ViewBag.Category_id"  required class="form-control my-2"></select>
    <div class='text-center'>
        <button type="submit" class='btn btn-warning mt-2'>Cadastrar produtos</button>
    </div>
</form>